.wrapper {
  background: no-repeat;
  background-size: 100%;
  background-image: linear-gradient(
      rgba(20, 20, 20, 0.8),
      rgba(20, 20, 20, 0.8)
    ),
    url(./../../image/content/bunner/bg_bunner.jpg);
}

.conteiner {
  width: 1200px;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}
.title {
  margin: 0;
  font-family: Jura;
  font-size: 40px;
  letter-spacing: 0.1em;
  font-weight: 700;
  text-align: end;
  color: #9b9898;

  text-shadow: -1px 1px 2px #3f3f3f, 2px 2px 2px #6e6e6e;
  span {
    color: #f1f1f1;
    font-size: 60px;

    text-shadow: -1px 1px 2px #3f3f3f, 2px 2px 2px #6e6e6e;
  }
}
