@font-face {
  font-family: "Jura";
  src: url("./../../font/Jura/static/Jura-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Jura";
  src: url("./../../font/Jura/static/Jura-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Jura";
  src: url("./../../font/Jura/static/Jura-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Jura";
  src: url("./../../font/Jura/static/Jura-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Jura";
  src: url("./../../font/Jura/static/Jura-Bold.ttf") format("truetype");
  font-style: bold;
  font-weight: 700;
}
