.content {
  max-width: 1200px;
  margin: auto;
  box-sizing: border-box;
}
.description {
  margin-left: auto;
  width: 600px;
  color: white;
  text-align: right;
  padding-top: 20px;
  padding-bottom: 20px;
}
.galleryItems {
  padding: 0 10px 0 10px;
}
