.app-wrapper {
  background-color: #202020;
  margin: auto;
  box-sizing: border-box;

  font-family: Roboto, -apple-system, BlinkMacSystemFont, Oxygen, Ubuntu,
    "Segoe UI", Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
